:host {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

nav a {
    margin: 0px 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

nav a.active {
    font-weight: 600;
    background: gray;
}