<h2>hello world</h2>

<p>esse é o meu primeiro template</p>

<app-filho-a [texto]="textoVaiProFiloho" (textoPreenchido)="textoVeioDoFilho = $event"></app-filho-a>

<app-filho-b></app-filho-b>

<p>
    <label for="caixaPai">digite o texto que vai para o componente filho:</label>
    <input type="text" id="caixaPai" #caixaPai>
    <button (click)="textoVaiProFiloho = caixaPai.value">enviar pro filho</button>
</p>

<p *ngIf="textoVeioDoFilho">
    esse texto veio do filho: {{textoVeioDoFilho}}
</p>

<p>
    <a href="/">link</a>

</p>

<p><a routerLink="filho-a">Filho A</a></p>
<p><a routerLink="filho-b">Filho B</a></p>

<router-outlet/>